[Unit]
Description=Wi-Fi Heartbeat (Python) & Auto-Reconnect
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/hlr_auto_reconnect_check_health_wifi/main.py
Nice=5
TimeoutStartSec=25
